.container {
  animation-name: item-render;
  animation-duration: 2s;
}

.form {
  width: 100%;
}

.label {
  top: 5px;
  left: 5px;
  position: absolute;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
  position: relative;
}

.input {
  padding-top: 20px;
  height: 60px;
  padding-left: 5px;
  font-size: 15px;
  border: none;
  background-color: #f0f0f0;
}
.input:focus {
  outline: #a386f3 solid 2px;
  border-radius: 5px;
}

.content {
  background-color: #f0f0f0;
  border: none;
  resize: none;
  height: 200px;
  padding-top: 30px;
  padding-left: 5px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-style: normal;
}

.content:focus {
  outline: #a386f3 solid 2px;
  border-radius: 5px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.formButton {
  padding: 5px 10px;
  font-size: 18px;
  background-color: #010101;
  color: #e7e7e7;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: filter 1s;
}

.deleteButton {
  border: none;
  margin-right: 10px;
  padding: 5px 10px;
  font-size: 18px;
  background-color: #e62f2f;
  color: #e7e7e7;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: filter 1s;
}

.deleteButton:hover, .formButton:hover {
  filter: brightness(0.8);
}

.purpleCard, .blueCard, .yellowCard {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
}

.cardsColor {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}

.purpleCard {
  background-color: #a386f3;
}

.blueCard {
  background-color: #547BD9;
}

.yellowCard {
  background-color: #EC9C7F;
}

@keyframes item-render {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}