.posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 25px;
}

.post {
  color: #010101;
  width: 300px;
  background-color: #A386F3;
  border-radius: 5px;
  padding: 1px 10px;
  transition: transform 1s, filter 1s;
  cursor: pointer;
  animation-name: item-render;
  animation-duration: 2s;
}

.post:hover {
  filter: brightness(0.9);
}

@media (max-width: 768px) {
  .posts {
    grid-template-columns: 1fr;
  }
}

.noPostsContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noPostsText {
  text-align: center;
  font-size: 22px;
}

.textDiff, .actionText {
  color: #A386F3;
  font-weight: bold;
  filter: brightness(0.6);
}

.actionText {
  cursor: pointer;
}

.actionText:hover {
  filter: brightness(1);
}

@keyframes item-render {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}